<p id="notice"><%= notice %></p>

<h1>Look at these cats!</h1>

<table class="table">
  <thead>
    <tr>
      <th>Cats!</th>
      <th>File Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cats.each do |cat| %>
      <tr>
        <td><%= image_tag cat.imagefile, class: "indexcat" %></td>
        <td><%= cat.imagefile %></td>
        <td><%= link_to 'Edit Cat', edit_cat_path(cat) %></td>
        <td><%= link_to 'Delete Cat', cat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cat', new_cat_path %>
